.newsletter {
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 100px;
    background-color: #f9f9f9;
    height: 50vh;
  }
  
  .newsletter h2 {
    margin-bottom: 15px;
    color: #333;
  }
  
  .newsletter form {
    display: flex;
    align-items: center;
  }
  
  .newsletter input[type='email'] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .newsletter button {
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .newsletter button:hover {
    background-color: #0056b3;
  }
  