/* .container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("../../../public/brash.jpg");
    /* background-color: #rgba(0, 0, 0, 0.2); */
    /* background-size: cover;
    background-blend-mode:darken;
    display:flex;
    justify-content: center;
    align-items: center;
} */ 