.container{
    top: 0;
    left: 0;
    height: 120vh;
    width: 100vw;
    background-image: url("../../../public/brash.jpg");
     background-color: rgba(0, 0, 0, 0.2); 
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
    margin-top: 5px;
}

.wrapper{
    height: 56.5vh;
    width: 27.5vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.wrapper > h2{
    color: #171097;
    text-align: center;
    margin: 2.5rem 0;
    font-size: 36px;
    margin-bottom: 3rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}
